<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" routerLinkActive="active">
      <a class="nav-item nav-link" routerLink="home">Home</a>
      <a class="nav-item nav-link" routerLink="query">Query GEMINI</a>
      <a class="nav-item nav-link" routerLink="gemini-dbs">GEMINI DBs</a>
      <a class="nav-item nav-link" routerLink="load-vcf">Import VCF into GEMINI</a>
      <a class="nav-item nav-link" routerLink="vcfs">VCF Files</a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
